/* google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles  */
/* work sans font for all style  */
* {
    font-family: "Work Sans", sans-serif;
}

.primary-button {
    border-radius: 8px;
    background: #FF900E;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: calc(20rem / 16);
    font-weight: 600;
    padding: 20px 25px;
    /* cursor: pointer; */
    cursor: pointer;
}

.font-color-gray {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
}

/* Header styles  */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-left: 30px;
}

nav li a {
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
}

/* banner styles  */

.banner-content {
    text-align: center;
}

.banner-title {
    color: #131313;
    font-size: calc(64rem / 16);
    /* font-size: 64px; */
    font-weight: 700;
}



.banner img {
    margin-top: 20px;
    width: 100%;
}

/* Main styles start  */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* features section stayles start  */
.features-section {
    display: flex;
    align-items: center;
}

.features-images-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(24rem / 16);
}

.features-details-container {
    padding-left: calc(70rem/16);
    padding-right: calc(70rem/16);
}

.features-title {
    font-size: calc(45rem / 16);
}

.Quick-list {
    color: #727272;
    font-weight: 500;
}

.text-features {
    color: #FF900E;
    font-weight: 700;
}

/* responsive media quiry  */
/* mobile devices  */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .features-section {
        flex-direction: column;
    }

    .features-images-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* tablate devises  */
@media screen and (min-width: 576px) and (max-width:960px) {
    header {
        padding: 40px;
    }

    nav,
    .features-section {
        flex-direction: column;
    }
}